---
import { getCollection, getEntry } from "astro:content";
import { Image } from "@astrojs/image/components";
import Layout from "../../layouts/Layout.astro";
import { IconCalendar, IconMapPin } from "@tabler/icons-react";
import { IconArrowUpRight } from "@tabler/icons-react";

export async function getStaticPaths() {
  const events = await getCollection("festivalEvents");

  const paths = events.map((event) => ({ params: { dogodek: event.slug } }));

  return paths;
}

const { dogodek } = Astro.params;

// TODO
// FIX EARLY RETURNS

if (!dogodek) {
  return "";
}

const event = await getEntry("festivalEvents", dogodek);

if (!event) {
  return "";
}

const { Content } = await event.render();
---

<Layout title={event.data.title}>
  <main class="py-12 lg:py-20">
    <div class="mx-auto flex w-11/12 max-w-screen-xl flex-col gap-8">
      <section class="flex flex-col gap-12">
        {
          event.data.image && (
            <Image
              src={event.data.image}
              width={1375}
              height={576}
              alt=""
              format="jpg"
              fetchpriority={"high"}
            />
          )
        }
        <div class="flex flex-col gap-8">
          <div class="flex flex-col gap-4">
            <h1
              class="font-tan-pearl text-4xl leading-normal lg:text-6xl lg:leading-none"
            >
              {event.data.title}
            </h1>
            <div
              class="flex flex-col gap-4 lg:flex-row lg:items-center lg:gap-6"
            >
              <div class="flex items-center gap-2">
                <IconCalendar />
                <p>{event.data.date} • {event.data.time}</p>
              </div>

              <div class="flex items-center gap-2">
                <IconMapPin />
                <p>{event.data.locationShort}</p>
              </div>
            </div>
          </div>

          {
            event.data.eventLink && event.data.price > 0 && (
              <div class="grid grid-cols-1 gap-6 lg:grid-cols-3">
                {event.data.priceVIP && (
                  <a
                    href={event.data.eventLink}
                    class="w-full bg-nav-gradient p-1"
                  >
                    <div class="flex h-full w-full flex-col gap-4 bg-grain p-4">
                      <div class="flex items-center gap-2">
                        <p class="text-lg">Borštnikova vstopnica</p>
                        <IconArrowUpRight className="h-5 w-5" />
                      </div>

                      <p class="text-lg font-bold">
                        Cena:{" "}
                        <span class="font-normal">{event.data.priceVIP} €</span>
                      </p>
                    </div>
                  </a>
                )}

                <a
                  href={event.data.eventLink}
                  class="w-full bg-nav-gradient p-1"
                >
                  <div class="flex h-full w-full flex-col gap-4 bg-grain p-4">
                    <div class="flex items-center gap-2">
                      <p class="text-lg">Vstopnica (earlybird)</p>
                      <IconArrowUpRight className="h-5 w-5" />
                    </div>

                    <p class="text-lg font-bold">
                      Cena:{" "}
                      <span class="font-normal">{event.data.price} €</span>
                    </p>
                  </div>
                </a>

                <a
                  href={event.data.eventLink}
                  class="w-full bg-nav-gradient p-1"
                >
                  <div class="flex h-full w-full flex-col gap-4 bg-grain p-4">
                    <div class="flex items-center gap-2">
                      <p class="text-lg">
                        <span class="2xl:hidden">Vstopnica (študentska)</span>
                        <span class="hidden 2xl:inline-block">
                          Vstopnica (študentska, upokojenska)
                        </span>
                      </p>
                      <IconArrowUpRight className="h-5 w-5" />
                    </div>

                    <p class="text-lg font-bold">
                      Cena:{" "}
                      <span class="font-normal">
                        {event.data.priceStudents} €
                      </span>
                    </p>
                  </div>
                </a>
              </div>
            )
          }
        </div>
      </section>

      <article class="prose max-w-none">
        <Content />

        <h2>Lokacija</h2>

        <p>{event.data.location}</p>

        {
          event.data.locationEmbedURL && (
            <div class="w-full bg-nav-gradient p-1">
              <div class="flex h-full w-full flex-col gap-4 bg-grain">
                <iframe
                  src={event.data.locationEmbedURL}
                  height="300"
                  style="border:0;"
                  allowfullscreen=""
                  loading="lazy"
                  referrerpolicy="no-referrer-when-downgrade"
                  class="w-full"
                />
              </div>
            </div>
          )
        }
      </article>
    </div>
  </main>
</Layout>
