---
import { IconChevronRight } from "@tabler/icons-react";
import { buttonVariants } from "../components/ui/Button";
import Layout from "../layouts/Layout.astro";
import { getCollection } from "astro:content";
import { twMerge } from "tailwind-merge";

const tickets = await getCollection("festivalTickets");
---

<Layout title="Kdo smo">
  <main class="flex flex-col gap-10 py-12 lg:pt-32">
    <section class="mx-auto flex w-11/12 max-w-screen-xl flex-col gap-14">
      <div class="flex flex-col gap-6">
        <h1 class="font-tan-pearl text-5xl uppercase lg:text-7xl">
          Nakup vstopnic
        </h1>

        <div class="flex flex-col gap-6 lg:flex-row lg:gap-12">
          <p class="w-full">
            Pridružite se nam na vrhuncu gledališkega dogajanja in si zagotovite
            svojo vstopnico že danes! Na naši spletni strani lahko enostavno in
            hitro kupite vstopnice za različne predstave, dogodke in delavnice.
            Izkoristite priložnost, da doživite nepozabne umetniške trenutke in
            se prepustite čarobnosti gledališča.
          </p>
          <p class="w-full">
            Z našim priročnim spletnim vmesnikom lahko pregledate razpored
            dogodkov, izberete želeni termin in sedežno mesto ter svoje
            vstopnice enostavno kupite v samo nekaj korakih. Ponujamo tudi
            možnost nakupa VIP vstopnic, ki vam omogočajo poseben dostop in
            udobje med dogodki.
          </p>
        </div>
      </div>
    </section>

    <section class="flex flex-col gap-14 bg-donate bg-cover bg-center py-14">
      <div class="mx-auto flex w-11/12 max-w-screen-xl flex-col gap-10">
        <h1 class="font-tan-pearl text-4xl leading-normal lg:text-5xl">
          Vstopnice za dogodke
        </h1>

        <div class="grid grid-cols-1 gap-6 lg:grid-cols-3">
          {
            tickets.map((ticket) => (
              <div class="w-full rounded-md bg-nav-gradient p-1">
                <div class="flex h-full w-full flex-col gap-10 bg-grain p-6">
                  <p class="font-tan-pearl text-2xl leading-normal">
                    {ticket.data.title}
                  </p>

                  <div class="flex flex-col gap-2">
                    <div class="flex w-full items-center border-b border-neutral-400 pb-2">
                      <p class="w-2/12 font-bold">Cena</p>

                      <p class="w-10/12">{ticket.data.price} €</p>
                    </div>

                    {ticket.data.priceStudents && (
                      <div class="flex w-full items-center border-b border-neutral-400 pb-2">
                        <div class="w-2/12" />

                        <p class="w-10/12">
                          {ticket.data.priceStudents} € (dijaki, študenti,
                          upokojenci){" "}
                        </p>
                      </div>
                    )}
                  </div>

                  <div class="flex items-center gap-2">
                    <a
                      class={twMerge(
                        buttonVariants({
                          intent: "outline-black",
                          size: "base",
                        }),
                        "flex items-center gap-1"
                      )}
                      href={ticket.data.callToActionLink}
                    >
                      Nakup
                      <IconChevronRight className="h-4 w-4" />
                    </a>

                    {ticket.data.eventLink && (
                      <a
                        class={twMerge(
                          buttonVariants({
                            intent: "outline-black",
                            size: "base",
                          }),
                          "flex items-center gap-1"
                        )}
                        href={ticket.data.eventLink}
                      >
                        O dogodku
                        <IconChevronRight className="h-4 w-4" />
                      </a>
                    )}
                  </div>
                </div>
              </div>
            ))
          }
        </div>
      </div>
    </section>
  </main>
</Layout>
